# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform files
.terraform/
.terraform.lock.hcl
**/.terraform/
**/.terraform.lock.hcl

# Environment variables
.env
.env.solo
.env.testnet
.env.mainnet


# Hardhat files
/cache
/artifacts

# TypeChain files
src/typechain


# solidity-coverage files
**/coverage.json

.mnemonic
.privateKey
.etherscan
.infura

.turbo

packages/config/local.ts
packages/config/solo.ts

packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/coverage/
packages/contracts/coverage.json
packages/contracts/deploy_output/
packages/contracts/docs/
packages/contracts/scripts/data_exports/data
packages/contracts/typechain-types/
packages/contracts/metadata/stargateNFT/metadata.zip
packages/contracts/temp-verify-*
packages/contracts/scripts/token-manager/results/migration-dryrun-*.json
packages/contracts/scripts/token-manager/results/migration-results-local.json
packages/contracts/scripts/token-manager/results/migration-results-devnet.json
packages/contracts/scripts/claim-base-rewards/results/base-rewards-dryrun-*.json
packages/contracts/scripts/claim-base-rewards/results/base-rewards-results-local.json
packages/contracts/scripts/claim-delegation-rewards/results/delegation-rewards-dryrun-*.json
packages/contracts/scripts/claim-delegation-rewards/results/delegation-rewards-results-local.json
packages/contracts/scripts/claim-rewards/data/

packages/contracts-artifacts/artifacts/
packages/contracts-artifacts/typechain-types/
packages/contracts-artifacts/dist-cjs/
packages/contracts-artifacts/dist-esm/

packages/contracts/.openzeppelin/unknown-246.json

*.cookie

.history
.vercel

packages/contracts/scripts/lost_rewards/calculate/lost-rewards-compensation-local.json
